/vendor/
node_modules/
npm-debug.log
yarn-error.log
storage/*.key
/.phpunit.cache
/public/build
/public/hot
/public/storage
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
/.fleet
/.idea
/.vscode
/dev-repos
/config/c2c
